<div class="page">
  <app-dataframe
    (data_filtered_update)="update_data_filtered($event)"
    [data_to_load]="all_proprietaire_actif"
    [traductions_to_load]="traductions"
    export_title="Export des propriétaires"
    table_max_height="750px">
    <button extra-button class="table-action" (click)="proprio_sans_email()">📤 Propriétaires sans email</button>
  </app-dataframe>
  <app-emails-publipostage [data_to_load]="data_filtered" [email_columns_input]="email_columns" [traductions]="traductions"></app-emails-publipostage>
  <app-excel-injection [data]="data_filtered"></app-excel-injection>
</div>
