<div class="page">
    <app-dataframe 
    (data_filtered_update)="update_data_filtered($event)"
    (traductions_update)="update_traductions($event)"
    export_title="Export des copropriétaires" 
    fetch_data_url="coproprietaire"
    table_max_height="750px"
    >
        <button extra-button (click)="copro_sans_email()">📤 Copropriétaires sans email</button>
    </app-dataframe>
    <app-emails-publipostage [data_to_load]="data_filtered" [email_columns]="email_columns"></app-emails-publipostage>
</div>
