<section class="email-section">
    <h2>📧 Préparation du publipostage</h2>
    <div class="deduplication">
        <h4>Colonnes d'emails :</h4>
        <div *ngFor="let col of colonnesDisponibles">
            <label>
            <input 
                type="checkbox"
                [value]="col"
                [checked]="colonnesSelectionnees.includes(col)"
                (change)="onColumnToggle($event)"
            />
            {{ col }}
            </label>
        </div>
    </div>
    <p>Les emails filtrés apparaîtront ci-dessous. Copiez ou utilisez le bouton pour les exporter.</p>
    <div class="textarea-row">
        <textarea [(ngModel)]="email_str" id="emailTextarea" rows="4" readonly></textarea>
        <button class="btn-copy" (click)="copy_emails_to_clipboard()">📋 Copier</button>
        <div class="copy-notification" [class.show]="copied">
            ✅ Copié !
        </div>
    </div>
    <div class="button-container">
        <button (click)="exporter_liste_email()" class="btn-secondary">📤 Exporter les emails pour publipostage</button>
        <button (click)="exporter_liste_without_valid_email()" class="btn-secondary">📤 Exporter les lignes sans email valide</button>
        <button (click)="exporter_liste_with_invalid_email()" class="btn-secondary">📤 Exporter les lignes avec email invalide</button>
        <button (click)="exporter_string_par_paquet_popup()" class="btn-secondary">📤 Exporter format text par paquet</button>
    </div>
    <div class="popup-backdrop" *ngIf="showPopup">
        <div class="popup">
            <h2>Export au format text par paquet</h2>
            
            <label>Taille des paquets :</label>
            <input type="number" [(ngModel)]="taille_paquets"><br><br>

            <div class="button-container">
                <button (click)="exporter_string_par_paquet()">📤 Exporter</button>
                <button (click)="showPopup = false">Annuler</button>
            </div>
        </div>
    </div>

</section>
