<div class="page">
    <h2>Moyens de paiement</h2>
    <div class="choix-utilisateur">
        <div>
            <label for="immeuble-select">Immeuble </label>
            <select id="immeuble-select" [(ngModel)]="immeuble" (ngModelChange)="onFiltreChange($event)">
                <option [value]=""></option>
                <option *ngFor="let immeuble of immeubles" [value]="immeuble">
                    {{ immeuble }}
                </option>
            </select>
        </div>
        <div>
            <label for="mode_paiement-select">Mode de paiement </label>
            <select id="mode_paiement-select" [(ngModel)]="mode_paiement" (ngModelChange)="onFiltreChange($event)">
                <option *ngFor="let mode_paiement of mode_paiements" [value]="mode_paiement">
                    {{ mode_paiement }}
                </option>
            </select>
        </div>
    </div>
    <app-dataframe  
        export_title="Locataires - copropriétaires"
        [data_to_load]="data_filtered"
        [traductions_to_load]="traductions"
        table_max_height="600px"
        >
        <button extra-button (click)="export_complet()">📤 Export complet</button>
    </app-dataframe>
    <app-emails-publipostage [liste_email]="liste_email"></app-emails-publipostage>
</div>


