<div class="container">
  <h2>Fusion de fichiers Excel</h2>

  <div class="file-upload">
    <label>Fichier 1 :</label>
    <input type="file" (change)="onFile1Change($event)" accept=".xlsx,.xls">
    <div *ngIf="columnsFile1.length">
      <h4>Colonnes disponibles :</h4>
      <div *ngFor="let col of columnsFile1">
        {{ col.name }}
        <input type="number" min="1" [(ngModel)]="col.position" 
         [ngModelOptions]="{standalone: true}" 
         placeholder="Position" 
         (ngModelChange)="onPositionChange()" />
      </div>
    </div>
  </div>

  <div class="file-upload">
    <label>Fichier 2 :</label>
    <input type="file" (change)="onFile2Change($event)" accept=".xlsx,.xls">
    <div *ngIf="columnsFile2.length">
      <h4>Colonnes disponibles :</h4>
      <div *ngFor="let col of columnsFile2">
        {{ col.name }}
        <input type="number" min="1" [(ngModel)]="col.position" 
         [ngModelOptions]="{standalone: true}" 
         placeholder="Position" 
         (ngModelChange)="onPositionChange()" />
      </div>
    </div>
  </div>

  <div class="deduplication">
    <h4>Colonnes pour suppression des doublons :</h4>
    <div *ngFor="let col of finalColumnsOrdered">
        <input type="checkbox" [(ngModel)]="col.dedup" /> {{ col.name }}
        <span *ngIf="col.fileSource === 1">(fichier 1)</span>
    </div>
  </div>

  <button (click)="mergeFiles()">Fusionner & Télécharger</button>
</div>

