<div class="page">
    <h2>Tournus dans les immeubles</h2>
    <div class="choix-utilisateur">

        <app-multi-select 
            [values_all]="immeubles"
            (values_selected_update)="update_immeubles_selected($event)"
            >
        </app-multi-select>

        <div>
            <label for="date-debut">À partir du : </label>
            <input type="date" id="date-debut" [(ngModel)]="dateDebut" (ngModelChange)="onFiltreChange($event)">
        </div>

        <div>
            <label for="date-fin">Jusqu'au : </label>
            <input type="date" id="date-fin" [(ngModel)]="dateFin" (ngModelChange)="onFiltreChange($event)">
        </div>
        <div>
            <button (click)="display_historique()" style="padding: 8px 10px; cursor: pointer;">
                {{ afficher_historique ? 'Cacher historique' : 'Afficher historique' }}
            </button>
        </div>
    </div>
    <div [style.display]="afficher_historique ? 'block' : 'none'">
        <app-dataframe 
        (data_filtered_update)="update_data_filtered($event)" 
        export_title="Historique immeuble"
        [data_to_load]="data_filtered"
        [traductions_to_load]="all_locataire_traductions"
        table_max_height="400px"
        ></app-dataframe>
    </div>

    <div class="popup-backdrop" *ngIf="showPopup">
        <div class="popup">
            <h2>Export tournus annuel</h2>
            
            <label>Année de début :</label>
            <input type="number" [(ngModel)]="export_annee_start"><br><br>

            <label>Année de fin :</label>
            <input type="number" [(ngModel)]="export_annee_end"><br><br>

            <div class="button-container">
                <button (click)="export_tournus_annuel()">📤 Export Excel</button>
                <button (click)="showPopup = false">Annuler</button>
            </div>
        </div>
    </div>

    <app-dataframe 
    (data_filtered_update)="update_grouped_data_filtered($event)" 
    export_title="Tournus par objet" 
    [data_to_load]="grouped_data"
    [traductions_to_load]="tournus_result_traductions"
    table_max_height="500px"
    >
        <button extra-button (click)="load_export_tournus_annuel_popup()">📤 Export tournus annuel</button>
    </app-dataframe>

    <h2>Nombre de tournus total : {{nb_tournus_tot}}</h2>

</div>