<div class="page">
    <h2>Tournus dans les immeubles</h2>
    <div class="choix-utilisateur">

        <div>
            <label for="immeuble-select">Immeuble </label>
            <select id="immeuble-select" [(ngModel)]="immeuble" (ngModelChange)="onImmeubleChange($event)">
                <option *ngFor="let immeuble of immeubles" [value]="immeuble">
                    {{ immeuble }}
                </option>
            </select>
        </div>

        <div>
            <label for="date-debut">À partir du : </label>
            <input type="date" id="date-debut" [(ngModel)]="dateDebut">
        </div>

        <div>
            <label for="date-fin">Jusqu'au : </label>
            <input type="date" id="date-fin" [(ngModel)]="dateFin">
        </div>
        <div>
            <button (click)="display_historique()" style="padding: 8px 10px; cursor: pointer;">
                {{ afficher_historique ? 'Cacher historique' : 'Afficher historique' }}
            </button>
        </div>
    </div>
    <div [style.display]="afficher_historique ? 'block' : 'none'">
        <app-dataframe 
        (data_filtered_update)="update_data_filtered($event)" 
        export_title="Historique immeuble"
        [data_to_load]="data_filtered"
        [traductions_to_load]="all_locataire_traductions"
        table_max_height="400px"
        ></app-dataframe>
    </div>

    <app-dataframe 
    (data_filtered_update)="update_grouped_data_filtered($event)" 
    export_title="Tournus par objet" 
    [data_to_load]="grouped_data"
    [traductions_to_load]="tournus_result_traductions"
    table_max_height="500px"
    ></app-dataframe>

    <h2>Nombre de tournus total : {{nb_tournus_tot}}</h2>

</div>